<div>
    <link rel="stylesheet" href="components/listtodos/listtodos.css">
    <h2 class="my-3">
        <span data-kt-id="nameSpan"></span>
        <button class="btn btn-sm btn-outline-secondary mb-2" data-kt-id="statusButton">Unknown</button>
    </h2>
    <div>
        <p data-kt-id="description">Description placeholder</p>
    </div>
    <hr/>
    <button class="btn btn-sm btn-info" data-kt-id="editButton">Edit</button>
    <button class="btn btn-sm btn-danger" data-kt-id="removeButton">Remove</button>
</div>
